Repository tomrussobuilds/orchard-ml: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, no-env-files, nbstripout

black:
  name: black (formatting)
  language: system
  entry: black --check --quiet

ruff:
  name: ruff (linting + import sorting)
  language: system
  entry: ruff check --fix

mypy:
  name: mypy (type checking)
  language: system
  entry: mypy --cache-dir /dev/null
  pass_filenames: false
  args:
  - orchard/

bandit:
  name: bandit (security scan)
  language: system
  entry: bandit -c pyproject.toml -r

no-env-files:
  name: block .env files
  language: fail
  entry: .env files must not be committed

nbstripout:
  name: strip notebook outputs
  language: system
  entry: python scripts/strip_notebook_outputs.py

refactor(tests): remove type: ignore from test_trainer and test_engine — 24 annotations
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_trainer/test_engine.py
  tests/test_trainer/test_trainer.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from converter tests + drop dead code — 25 annotations
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_data_handler/test_cifar_converter.py
  tests/test_data_handler/test_galaxy10_converter.py
Due: black, ruff, mypy, bandit

fix(tests): unquote cast() forward-refs to satisfy CodeQL py/unused-import
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_data_handler/test_cifar_converter.py
  tests/test_trainer/test_engine.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from smoke_test.py and smoke_test_detection.py — 47 annotations
  CHANGELOG.md
  tests/smoke_test.py
  tests/smoke_test_detection.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from test_config/{infrastructure,manifest,types} — 17 annotations
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_config/test_infrastructure_config.py
  tests/test_config/test_manifest.py
  tests/test_config/test_types.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from test_optimization cluster — 22 annotations
  mutmut-registry.yaml
  tests/test_optimization/test_config_builder.py
  tests/test_optimization/test_exporters.py
  tests/test_optimization/test_search_spaces.py
  tests/test_optimization/test_visualizers.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from task_registry/loop/integration — 4 annotations
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_core/test_task_registry.py
  tests/test_tracking/test_integration.py
  tests/test_trainer/test_loop.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from test_cli_app — 8 annotations
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_cli_app.py
Due: black, ruff, mypy, bandit

fix(tests): unquote cast() forward-ref in test_task_registry to satisfy CodeQL py/unused-import
  CHANGELOG.md
  tests/test_core/test_task_registry.py
Due: black, ruff, mypy, bandit

ci(lint): expand mypy --strict to tests/ and forbid blanket type: ignore via ruff PGH003
  .github/workflows/badges.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  pyproject.toml
Due: none

ci(workflows): install dev extras instead of duplicating tool versions in YAML
  .github/workflows/badges.yml
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

fix(deps): bump mako and gitpython constraints to clear 4 high-severity Dependabot alerts
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: release v0.2.5
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(ci): survive typer 0.27 help rendering and numpy 2.5 stubs
  CHANGELOG.md
  pyproject.toml
  tests/test_cli_app.py
Due: black, ruff, mypy, bandit

fix(deps): sync uv.lock to patched versions, clearing 48 Dependabot alerts
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(tests): skip ViT-Tiny pretrained tests when the HF Hub is unreachable
  CHANGELOG.md
  tests/test_architectures/test_vit_tiny.py
Due: black, ruff, mypy, bandit

chore(notebooks): drop pillow<12 pin from Colab setup cells
  CHANGELOG.md
  notebooks/01_quickstart_bloodmnist_cpu.ipynb
  notebooks/02_galaxy10_optuna_model_search.ipynb
  notebooks/03_edge_deploy_onnx_quantize.ipynb
Due: nbstripout

fix(deps): bump mlflow and GitPython to patched versions
  CHANGELOG.md
  uv.lock
Due: none

chore(deps): raise gitpython floor to 3.1.58 and document cryptography cap
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

test(vit-tiny): silence py/mixed-returns in _build_pretrained_vit_or_skip
  CHANGELOG.md
  tests/test_architectures/test_vit_tiny.py
Due: black, ruff, mypy, bandit

test(pennfudan): fix mypy --strict shape typing on ragged labels
  tests/test_data_handler/test_pennfudan_fetcher.py
Due: black, ruff, mypy, bandit

fix(build): include nested package data in wheel
  CHANGELOG.md
  pyproject.toml
  tests/test_packaging.py
Due: black, ruff, mypy, bandit

chore: release v0.2.6
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(deps): raise typer floor to 0.12.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

style(logger): route warnings through the run log
  CHANGELOG.md
  orchard/cli_app.py
  orchard/core/config/optuna_config.py
  orchard/core/logger/__init__.py
  orchard/core/logger/env_reporter.py
  orchard/core/logger/logger.py
  orchard/core/logger/progress.py
  tests/test_logger/test_env_reporter.py
  tests/test_logger/test_logger.py
  tests/test_logger/test_progress.py
Due: black, ruff, mypy, bandit

fix(optuna): never sample AMP-incompatible batch sizes
  CHANGELOG.md
  orchard/core/__init__.py
  orchard/core/config/training_config.py
  orchard/core/paths/__init__.py
  orchard/core/paths/constants.py
  orchard/optimization/objective/objective.py
  orchard/optimization/orchestrator/orchestrator.py
  orchard/optimization/search_spaces.py
  tests/test_optimization/test_objective.py
  tests/test_optimization/test_orchestrator.py
  tests/test_optimization/test_search_spaces.py
Due: black, ruff, mypy, bandit

test(optuna): bind the probe ValidationError via pytest.raises
  CHANGELOG.md
  tests/test_optimization/test_objective.py
Due: black, ruff, mypy, bandit

chore(mutmut): pin the tool to a commit and close the mutation gaps
  docs/guide/MUTANTS.md
  mutmut-registry.yaml
  pyproject.toml
  scripts/mutmut_entry.py
  scripts/mutmut_run.py
  tests/conftest.py
  tests/test_environment/test_hardware.py
  tests/test_logger/test_logger.py
  tests/test_optimization/test_objective.py
  tests/test_optimization/test_search_spaces.py
  tests/test_paths/test_constants.py
  uv.lock
Due: black, ruff, mypy, bandit

fix(recipes): drop AMP-incompatible batch size from the fasterrcnn search
  CHANGELOG.md
  recipes/optuna_fasterrcnn.yaml
Due: none

fix(mutmut): stop counting hung and uncovered mutants as kills
  CHANGELOG.md
  docs/guide/MUTANTS.md
  mutmut-registry.yaml
  pyproject.toml
  scripts/check_mutmut_registry.py
  scripts/mutmut_entry.py
  scripts/mutmut_run.py
  tests/test_data_handler/test_loader.py
Due: black, ruff, mypy, bandit

build(pre-commit): pin hook entries to the project venv
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/update-changelog.sh
Due: none

feat(logger): replay bootstrap warnings into the run log
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/cli_app.py
  orchard/core/logger/__init__.py
  orchard/core/logger/logger.py
  tests/test_cli_app.py
  tests/test_logger/test_logger.py
Due: black, ruff, mypy, bandit

fix(deps): patch mkdocs-material XSS and bound mkdocs below 2.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

build(docs): build the site with ProperDocs instead of MkDocs
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CHANGELOG.md
  properdocs.yml
  pyproject.toml
  uv.lock
Due: none

ci(smoke): exclude model weights from smoke test artifacts
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  bandit: any of: \.py$
  no-env-files: any of: \.env($|\.)
  nbstripout: any of: \.ipynb$
