Repository tomrussobuilds/orchard-ml: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, no-env-files, nbstripout

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black (formatting)
        language: system
        entry: black --check --quiet
        types: [python]

      - id: ruff
        name: ruff (linting + import sorting)
        language: system
        entry: ruff check --fix
        types: [python]

      - id: mypy
        name: mypy (type checking)
        language: system
        entry: mypy --cache-dir /dev/null
        types: [python]
        pass_filenames: false
        args: [orchard/]

      - id: bandit
        name: bandit (security scan)
        language: system
        entry: bandit -c pyproject.toml -r
        types: [python]

      - id: test-coverage
        name: test suite + 100% coverage
        language: system
        entry: pytest tests/ --cov=orchard --cov-fail-under=100 -x -q --tb=short --no-header
        pass_filenames: false
        always_run: true

      - id: no-env-files
        name: block .env files
        language: fail
        entry: ".env files must not be committed"
        files: '\.env($|\.)'

      - id: nbstripout
        name: strip notebook outputs
        language: system
        entry: python scripts/strip_notebook_outputs.py
        types: [jupyter]

      - id: git-cliff
        name: generate changelog
        language: system
        entry: bash scripts/update-changelog.sh
        stages: [pre-commit]
        always_run: true
        pass_filenames: false

      - id: pre-push-quality-gate
        name: pre-push quality gate
        language: system
        entry: bash -c 'ruff check orchard/ tests/ && bandit -c pyproject.toml -r orchard/ && mypy orchard/'
        pass_filenames: false
        always_run: true
        stages: [pre-push]

chore: release v0.2.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: handle Z suffix in isoformat dates for Python 3.10 compat
  CHANGELOG.md
  scripts/check_mutmut_registry.py
  scripts/mutmut_run.py
Due: black, ruff, mypy, bandit

chore: refresh mutmut-registry timestamps for v0.2.1 release
  CHANGELOG.md
  mutmut-registry.yaml
Due: none

fix(ci): add fetch-depth: 0 to publish checkout for freshness check
  .github/workflows/publish.yml
  CHANGELOG.md
Due: none

docs: fix notebook setup cells and add edge deploy notebook
  CHANGELOG.md
  notebooks/01_quickstart_bloodmnist_cpu.ipynb
  notebooks/02_galaxy10_optuna_model_search.ipynb
  notebooks/03_edge_deploy_onnx_quantize.ipynb
  pyproject.toml
Due: nbstripout

fix(notebooks): use --no-deps to avoid reinstalling Colab dependencies
  notebooks/01_quickstart_bloodmnist_cpu.ipynb
  notebooks/02_galaxy10_optuna_model_search.ipynb
  notebooks/03_edge_deploy_onnx_quantize.ipynb
Due: nbstripout

fix(notebooks): ensure clean orchard-ml install on Colab re-runs
  CHANGELOG.md
  notebooks/01_quickstart_bloodmnist_cpu.ipynb
  notebooks/02_galaxy10_optuna_model_search.ipynb
  notebooks/03_edge_deploy_onnx_quantize.ipynb
Due: nbstripout

fix(notebooks): fix API calls, suppress HF progress bar, clean up configs
  CHANGELOG.md
  notebooks/01_quickstart_bloodmnist_cpu.ipynb
  notebooks/02_galaxy10_optuna_model_search.ipynb
  notebooks/03_edge_deploy_onnx_quantize.ipynb
  orchard/architectures/timm_backbone.py
Due: black, ruff, mypy, bandit, nbstripout

feat: add dump_git_info to audit pipeline and harden mutation scores
  CHANGELOG.md
  mutmut-registry.yaml
  notebooks/01_quickstart_bloodmnist_cpu.ipynb
  notebooks/02_galaxy10_optuna_model_search.ipynb
  notebooks/03_edge_deploy_onnx_quantize.ipynb
  orchard/core/io/serialization.py
  orchard/core/logger/reporter.py
  orchard/core/orchestrator.py
  tests/test_core/test_rootorchestrator.py
  tests/test_io/test_serialization.py
  tests/test_logger/test_reporter.py
Due: black, ruff, mypy, bandit, nbstripout

fix: suppress HF download noise and fix notebook 03 Colab errors
  CHANGELOG.md
  mutmut-registry.yaml
  notebooks/03_edge_deploy_onnx_quantize.ipynb
  orchard/architectures/factory.py
  tests/test_architectures/test_factory.py
Due: black, ruff, mypy, bandit, nbstripout

fix: notebook 03 Optuna best params and remove quantize from pipeline
  CHANGELOG.md
  notebooks/03_edge_deploy_onnx_quantize.ipynb
  recipes/optuna_mobilenetv3.yaml
Due: nbstripout

fix: add notebook 03 to README and update stale comments
  CHANGELOG.md
  README.md
  notebooks/03_edge_deploy_onnx_quantize.ipynb
Due: nbstripout

fix: cleanup — centralize HIGHRES_THRESHOLD, pathlib consistency, stale docs
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/core/__init__.py
  orchard/core/config/architecture_config.py
  orchard/core/config/manifest.py
  orchard/core/environment/guards.py
  orchard/core/environment/hardware.py
  orchard/core/paths/__init__.py
  orchard/core/paths/constants.py
  orchard/data_handler/loader.py
  orchard/export/validation.py
  orchard/optimization/search_spaces.py
  orchard/pipeline/phases.py
  tests/test_config/test_manifest.py
  tests/test_data_handler/test_loader.py
  tests/test_environment/test_guards.py
  tests/test_environment/test_hardware.py
  tests/test_optimization/test_search_spaces.py
  tests/test_paths/test_constants.py
Due: black, ruff, mypy, bandit

fix: remove redundant FileNotFoundError catch in serialization
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/core/io/serialization.py
Due: black, ruff, mypy, bandit

fix: remove requirements.txt, use pyproject.toml as single source of truth
  .github/workflows/ci.yml
  CHANGELOG.md
  docker/Dockerfile
  docs/guide/TRACKING.md
  mutmut-registry.yaml
  orchard/core/paths/root.py
  orchard/tracking/tracker.py
  pyproject.toml
  requirements.txt
  tests/test_paths/test_constants.py
  uv.lock
Due: black, ruff, mypy, bandit

feat: add task abstraction layer with strategy dispatch
  CHANGELOG.md
  docs/framework_map.svg
  mutmut-registry.yaml
  orchard/__init__.py
  orchard/core/config/__init__.py
  orchard/core/config/manifest.py
  orchard/core/config/types.py
  orchard/core/logger/__init__.py
  orchard/core/logger/env_reporter.py
  orchard/core/logger/progress.py
  orchard/core/orchestrator.py
  orchard/core/task_protocols.py
  orchard/core/task_registry.py
  orchard/pipeline/phases.py
  orchard/tasks/__init__.py
  orchard/tasks/classification/__init__.py
  orchard/tasks/classification/criterion_adapter.py
  orchard/tasks/classification/evaluation_adapter.py
  orchard/tasks/classification/metrics_adapter.py
  orchard/trainer/_loop.py
  pyproject.toml
  tests/test_core/test_task_registry.py
  tests/test_logger/test_env_reporter.py
  tests/test_pipeline/test_phases.py
  tests/test_tasks/__init__.py
  tests/test_tasks/test_classification_adapters.py
  tests/test_trainer/test_trainer.py
  uv.lock
Due: black, ruff, mypy, bandit

fix: harden evaluation pipeline, param mapping, and config safety
  docs/framework_map.svg
  mutmut-registry.yaml
  orchard/core/config/dataset_config.py
  orchard/evaluation/evaluation_pipeline.py
  orchard/export/onnx_exporter.py
  orchard/optimization/_param_mapping.py
  tests/test_config/test_dataset_config.py
  tests/test_evaluation/test_evaluation_pipeline.py
  tests/test_optimization/test_param_mapping.py
Due: black, ruff, mypy, bandit

refactor: generalize task eval protocols to Mapping[str, float]
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/cli_app.py
  orchard/core/config/types.py
  orchard/core/logger/progress.py
  orchard/core/task_protocols.py
  orchard/evaluation/evaluation_pipeline.py
  orchard/pipeline/phases.py
  orchard/tasks/classification/evaluation_adapter.py
  orchard/tracking/tracker.py
  tests/test_cli_app.py
  tests/test_evaluation/test_evaluation_pipeline.py
  tests/test_logger/test_env_reporter.py
  tests/test_pipeline/test_phases.py
  tests/test_tasks/test_classification_adapters.py
  tests/test_tracking/test_integration.py
  tests/test_tracking/test_tracker.py
Due: black, ruff, mypy, bandit

refactor: inject TaskValidationMetrics into training loop and Optuna executor
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/optimization/objective/objective.py
  orchard/optimization/objective/training_executor.py
  orchard/pipeline/phases.py
  orchard/trainer/_loop.py
  orchard/trainer/trainer.py
  tests/test_optimization/test_objective.py
  tests/test_optimization/test_training_executor.py
  tests/test_pipeline/test_phases.py
  tests/test_tracking/test_integration.py
  tests/test_trainer/test_loop.py
  tests/test_trainer/test_trainer.py
Due: black, ruff, mypy, bandit

feat: add TaskTrainingStep protocol for task-agnostic training forward
  CHANGELOG.md
  docs/framework_map.svg
  mutmut-registry.yaml
  orchard/__init__.py
  orchard/core/logger/logger.py
  orchard/core/task_protocols.py
  orchard/core/task_registry.py
  orchard/optimization/objective/objective.py
  orchard/optimization/objective/training_executor.py
  orchard/pipeline/phases.py
  orchard/tasks/__init__.py
  orchard/tasks/classification/__init__.py
  orchard/tasks/classification/training_step_adapter.py
  orchard/trainer/_loop.py
  orchard/trainer/engine.py
  orchard/trainer/trainer.py
  tests/test_architectures/test_vit_tiny.py
  tests/test_core/test_task_registry.py
  tests/test_logger/test_logger.py
  tests/test_optimization/test_objective.py
  tests/test_optimization/test_training_executor.py
  tests/test_pipeline/test_phases.py
  tests/test_tasks/test_classification_adapters.py
  tests/test_trainer/test_engine.py
  tests/test_trainer/test_loop.py
  tests/test_trainer/test_trainer.py
Due: black, ruff, mypy, bandit

refactor: unify monitor_metric direction as SSOT in TrainingConfig
  mutmut-registry.yaml
  notebooks/02_galaxy10_optuna_model_search.ipynb
  orchard/core/config/optuna_config.py
  orchard/core/config/training_config.py
  orchard/core/logger/env_reporter.py
  orchard/optimization/objective/objective.py
  orchard/optimization/orchestrator/builders.py
  orchard/optimization/orchestrator/orchestrator.py
  orchard/trainer/setup.py
  orchard/trainer/trainer.py
  recipes/optuna_128.yaml
  recipes/optuna_64.yaml
  recipes/optuna_cifar100_mini_cnn.yaml
  recipes/optuna_cifar100_pretrained.yaml
  recipes/optuna_cifar100_resnet_18.yaml
  recipes/optuna_convnext_tiny.yaml
  recipes/optuna_efficientnet_b0.yaml
  recipes/optuna_galaxy10_efficientnet_b0.yaml
  recipes/optuna_galaxy10_vit_tiny.yaml
  recipes/optuna_mini_cnn.yaml
  recipes/optuna_mobilenetv3.yaml
  recipes/optuna_resnet_18.yaml
  recipes/optuna_vit_tiny.yaml
  recipes/starter.yaml
  tests/test_cli_app.py
  tests/test_config/test_optuna_config.py
  tests/test_config/test_training_config.py
  tests/test_logger/test_env_reporter.py
  tests/test_optimization/test_builders.py
  tests/test_optimization/test_objective.py
  tests/test_optimization/test_orchestrator.py
  tests/test_trainer/test_setup.py
Due: black, ruff, mypy, bandit, nbstripout

fix(deps): bump black>=26.3.1 (CVE-2026-32274) and dismiss onnx hub.load alert
  CHANGELOG.md
  pyproject.toml
  tests/test_tasks/test_classification_adapters.py
  uv.lock
Due: black, ruff, mypy, bandit

refactor: generalize TrainingReport + fix dump_requirements for uv
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/core/io/serialization.py
  orchard/evaluation/evaluation_pipeline.py
  orchard/evaluation/reporting.py
  tests/test_evaluation/test_evaluation_pipeline.py
  tests/test_evaluation/test_reporting.py
  tests/test_io/test_serialization.py
  tests/test_tracking/test_integration.py
Due: black, ruff, mypy, bandit

refactor: skip _check_min_dataset_size for non-classification tasks
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/core/config/manifest.py
  tests/test_config/test_cross_validator.py
Due: black, ruff, mypy, bandit

refactor: skip compute_class_weights for non-classification tasks
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/pipeline/phases.py
  tests/test_pipeline/test_phases.py
Due: black, ruff, mypy, bandit

refactor: derive fallback_metrics from task registry
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/__init__.py
  orchard/core/task_registry.py
  orchard/optimization/objective/objective.py
  orchard/optimization/objective/training_executor.py
  tests/test_core/test_task_registry.py
  tests/test_optimization/test_objective.py
  tests/test_optimization/test_training_executor.py
Due: black, ruff, mypy, bandit

refactor: derive early-stopping thresholds from task registry
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/__init__.py
  orchard/core/task_registry.py
  orchard/optimization/early_stopping.py
  orchard/optimization/orchestrator/builders.py
  orchard/optimization/orchestrator/orchestrator.py
  tests/test_core/test_task_registry.py
  tests/test_optimization/test_builders.py
  tests/test_optimization/test_early_stopping.py
  tests/test_optimization/test_orchestrator.py
Due: black, ruff, mypy, bandit

refactor: pre-release audit — task-agnostic fixes, constant consolidation, mutant killers
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/core/__init__.py
  orchard/core/config/infrastructure_config.py
  orchard/core/config/training_config.py
  orchard/core/environment/__init__.py
  orchard/core/environment/hardware.py
  orchard/core/paths/__init__.py
  orchard/core/paths/constants.py
  orchard/data_handler/dataset.py
  orchard/data_handler/diagnostic/synthetic.py
  orchard/data_handler/fetchers/cifar_converter.py
  orchard/data_handler/fetchers/galaxy10_converter.py
  orchard/data_handler/loader.py
  orchard/export/onnx_exporter.py
  orchard/optimization/objective/objective.py
  orchard/optimization/objective/training_executor.py
  orchard/optimization/orchestrator/exporters.py
  orchard/pipeline/phases.py
  orchard/trainer/engine.py
  orchard/trainer/trainer.py
  tests/test_config/test_infrastructure_config.py
  tests/test_data_handler/test_loader.py
  tests/test_environment/test_hardware.py
  tests/test_optimization/test_objective.py
  tests/test_optimization/test_training_executor.py
  tests/test_trainer/test_trainer.py
Due: black, ruff, mypy, bandit

docs: task-agnostic docstring cleanup + package structure update
  CHANGELOG.md
  SECURITY.md
  docs/framework_map.svg
  mutmut-registry.yaml
  orchard/README.md
  orchard/core/config/architecture_config.py
  orchard/core/config/augmentation_config.py
  orchard/core/config/dataset_config.py
  orchard/core/config/manifest.py
  orchard/core/config/optuna_config.py
  orchard/data_handler/dataset.py
  orchard/data_handler/diagnostic/synthetic.py
  orchard/data_handler/loader.py
  orchard/evaluation/evaluator.py
  orchard/evaluation/metrics.py
  orchard/optimization/early_stopping.py
  orchard/optimization/objective/objective.py
  orchard/optimization/objective/training_executor.py
  orchard/optimization/search_spaces.py
  orchard/trainer/losses.py
  orchard/trainer/setup.py
  orchard/trainer/trainer.py
  recipes/starter.yaml
  tests/test_config/test_optuna_config.py
Due: black, ruff, mypy, bandit

chore: release v0.2.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: release v0.2.2
  mutmut-registry.yaml
  orchard/core/io/serialization.py
  orchard/optimization/objective/__init__.py
  orchard/optimization/objective/objective.py
  orchard/optimization/objective/training_executor.py
  tests/test_optimization/test_objective.py
  tests/test_optimization/test_training_executor.py
Due: black, ruff, mypy, bandit

ci: remove freshness check from publish workflow
  .github/workflows/publish.yml
  CHANGELOG.md
Due: none

refactor: widen TaskTrainingStep protocol for detection support
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/core/task_protocols.py
  orchard/tasks/classification/training_step_adapter.py
  orchard/trainer/engine.py
  tests/test_tasks/test_classification_adapters.py
  tests/test_trainer/test_engine.py
Due: black, ruff, mypy, bandit

feat: add detection task adapters and register detection task
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/__init__.py
  orchard/core/paths/__init__.py
  orchard/core/paths/constants.py
  orchard/tasks/__init__.py
  orchard/tasks/classification/evaluation_adapter.py
  orchard/tasks/detection/__init__.py
  orchard/tasks/detection/criterion_adapter.py
  orchard/tasks/detection/evaluation_adapter.py
  orchard/tasks/detection/metrics_adapter.py
  orchard/tasks/detection/training_step_adapter.py
  pyproject.toml
  tests/test_tasks/test_detection_adapters.py
Due: black, ruff, mypy, bandit

feat: add detection task adapters and register detection task
  uv.lock
Due: none

feat: add detection data loading pipeline
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/data_handler/collate.py
  orchard/data_handler/detection_dataset.py
  orchard/data_handler/diagnostic/__init__.py
  orchard/data_handler/diagnostic/synthetic_detection.py
  orchard/data_handler/loader.py
  orchard/optimization/objective/objective.py
  orchard/pipeline/phases.py
  orchard/tasks/detection/metrics_adapter.py
  tests/test_data_handler/test_detection_data.py
  tests/test_data_handler/test_loader.py
  tests/test_optimization/test_objective.py
  tests/test_pipeline/test_phases.py
Due: black, ruff, mypy, bandit

feat: add Faster R-CNN builder and register in model factory
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/architectures/__init__.py
  orchard/architectures/factory.py
  orchard/architectures/fasterrcnn.py
  tests/test_architectures/test_fasterrcnn.py
Due: black, ruff, mypy, bandit

feat: add detection config validation, ONNX guard, recipe, and CLI init
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/cli_app.py
  orchard/core/config/manifest.py
  orchard/pipeline/phases.py
  recipes/config_fasterrcnn.yaml
  tests/test_cli_app.py
  tests/test_config/test_cross_validator.py
  tests/test_pipeline/test_phases.py
Due: black, ruff, mypy, bandit

refactor: extract shared to_cpu helper, export detection classes, update plan
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/data_handler/__init__.py
  orchard/tasks/detection/evaluation_adapter.py
  orchard/tasks/detection/helpers.py
  orchard/tasks/detection/metrics_adapter.py
Due: black, ruff, mypy, bandit
