Repository tomrussobuilds/orchard-ml: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, bandit, no-env-files, nbstripout

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black (formatting)
        language: system
        entry: black --check --quiet
        types: [python]

      - id: ruff
        name: ruff (linting + import sorting)
        language: system
        entry: ruff check --fix
        types: [python]

      - id: mypy
        name: mypy (type checking)
        language: system
        entry: mypy --cache-dir /dev/null
        types: [python]
        pass_filenames: false
        args: [orchard/]

      - id: bandit
        name: bandit (security scan)
        language: system
        entry: bandit -c pyproject.toml -r
        types: [python]

      - id: test-coverage
        name: test suite + 100% coverage
        language: system
        entry: pytest tests/ --cov=orchard --cov-fail-under=100 -x -q --tb=short --no-header
        pass_filenames: false
        always_run: true

      - id: no-env-files
        name: block .env files
        language: fail
        entry: ".env files must not be committed"
        files: '\.env($|\.)'

      - id: nbstripout
        name: strip notebook outputs
        language: system
        entry: python scripts/strip_notebook_outputs.py
        types: [jupyter]

      - id: git-cliff
        name: generate changelog
        language: system
        entry: bash scripts/update-changelog.sh
        stages: [pre-commit]
        always_run: true
        pass_filenames: false

      - id: pre-push-quality-gate
        name: pre-push quality gate
        language: system
        entry: bash -c 'ruff check orchard/ tests/ && bandit -c pyproject.toml -r orchard/ && mypy orchard/'
        pass_filenames: false
        always_run: true
        stages: [pre-push]

refactor(imports): standardize TYPE_CHECKING placement and add ruff TC006
  CHANGELOG.md
  orchard/architectures/convnext_tiny.py
  orchard/architectures/efficientnet_b0.py
  orchard/architectures/fasterrcnn.py
  orchard/architectures/resnet_18.py
  orchard/architectures/vit_tiny.py
  orchard/core/config/hardware_config.py
  orchard/core/config/optuna_config.py
  orchard/core/io/serialization.py
  orchard/data_handler/loader.py
  orchard/evaluation/evaluation_pipeline.py
  orchard/evaluation/reporting.py
  orchard/optimization/early_stopping.py
  orchard/optimization/objective/objective.py
  orchard/optimization/objective/training_executor.py
  orchard/optimization/orchestrator/builders.py
  orchard/optimization/orchestrator/exporters.py
  orchard/optimization/orchestrator/orchestrator.py
  orchard/pipeline/phases.py
  orchard/trainer/_loop.py
  orchard/trainer/engine.py
  orchard/trainer/losses.py
  orchard/trainer/trainer.py
  pyproject.toml
Due: black, ruff, mypy, bandit

fix(imports): move type-only imports behind TYPE_CHECKING (CodeQL py/unused-import)
  CHANGELOG.md
  orchard/architectures/fasterrcnn.py
  orchard/optimization/objective/objective.py
  orchard/pipeline/phases.py
Due: black, ruff, mypy, bandit

fix(imports): resolve CodeQL py/unused-import by dropping string-form casts
  CHANGELOG.md
  orchard/architectures/fasterrcnn.py
  orchard/optimization/objective/objective.py
  orchard/pipeline/phases.py
  pyproject.toml
Due: black, ruff, mypy, bandit

docs: mark set_start_method crash as resolved (GH-466)
  CHANGELOG.md
  docs/guide/MUTANTS.md
Due: none

fix(deps): bump mlflow lower bound to >=3.11.0 (authorization bypass through 3.10.1)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(deps): bump cryptography to 46.0.7 (CVE-2026-39892 buffer overflow)
  CHANGELOG.md
  uv.lock
Due: none

ci: add Dependabot config for Actions and pip version updates
  .github/dependabot.yml
  CHANGELOG.md
Due: none

ci: add workflow to sync uv.lock on Dependabot PRs
  .github/workflows/dependabot-uv.yml
  CHANGELOG.md
Due: none

fix(ci): rename codecov `file` input to `files` (v6 breaking change)
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

fix(deps): sync uv.lock [skip ci]
  CHANGELOG.md
  uv.lock
Due: none

fix: align mypy version in CI and clean up docs formatting
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/guide/MUTANTS.md
  docs/guide/TESTING.md
Due: none

refactor: enable mypy --strict on tests/ and remove type: ignore from architectures
  .github/workflows/badges.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  scripts/check_quality.sh
  scripts/check_quality_full.sh
  scripts/mutmut_entry.py
  tests/health_check.py
  tests/test_architectures/test_convnext_tiny.py
  tests/test_architectures/test_efficientnet_b0.py
  tests/test_architectures/test_fasterrcnn.py
  tests/test_architectures/test_mini_cnn.py
  tests/test_architectures/test_morphing.py
  tests/test_architectures/test_resnet_18.py
  tests/test_architectures/test_timm_backbone.py
  tests/test_architectures/test_vit_tiny.py
  tests/test_evaluation/test_tta.py
  tests/test_pipeline/test_phases.py
Due: black, ruff, mypy, bandit

fix(ci): keep mypy --strict on orchard/ only until test cleanup is complete
  .github/workflows/badges.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  scripts/check_quality.sh
  scripts/check_quality_full.sh
Due: none

fix(deps): bump pillow 12.1.1→12.2.0 and pytest 9.0.2→9.0.3 (security)
  CHANGELOG.md
  uv.lock
Due: none

refactor: remove type: ignore from test_evaluation and update mutation registry
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_architectures/test_fasterrcnn.py
  tests/test_evaluation/test_evaluation_pipeline.py
  tests/test_evaluation/test_evaluator.py
  tests/test_evaluation/test_reporting.py
  tests/test_evaluation/test_visualization.py
Due: black, ruff, mypy, bandit

docs: document mutmut trampoline name mangling bug (boxed/mutmut#498)
  .gitignore
  CHANGELOG.md
  docs/guide/MUTANTS.md
Due: none

fix(deps): constrain mako>=1.3.11 (path traversal CVE)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: mark mutmut name mangling bug as resolved upstream (PR #499)
  CHANGELOG.md
  docs/guide/MUTANTS.md
Due: none

refactor(tests): remove type: ignore from test_environment/test_guards.py
  CHANGELOG.md
  docs/guide/MUTANTS.md
  mutmut-registry.yaml
  tests/test_environment/test_guards.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from test_paths/test_run_paths.py
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/core/paths/run_paths.py
  tests/test_paths/test_run_paths.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from test_io/test_serialization.py
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_io/test_serialization.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from test_core/test_rootorchestrator.py
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_core/test_rootorchestrator.py
Due: black, ruff, mypy, bandit

refactor(tests): split test_env_reporter, fix logger test isolation, mutmut 99/100/100
  mutmut-registry.yaml
  tests/test_logger/test_env_reporter.py
  tests/test_logger/test_logger.py
  tests/test_logger/test_progress.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from test_export/test_onnx_exporter.py and test_validation.py
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_export/test_onnx_exporter.py
  tests/test_export/test_validation.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from 15 test modules; kill manifest.py mutants 75%→100%
  mutmut-registry.yaml
  orchard/core/config/manifest.py
  orchard/core/metadata/wrapper.py
  orchard/trainer/losses.py
  tests/health_check.py
  tests/test_architectures/test_convnext_tiny.py
  tests/test_architectures/test_efficientnet_b0.py
  tests/test_config/test_cross_validator.py
  tests/test_config/test_from_recipe.py
  tests/test_config/test_manifest.py
  tests/test_config/test_optuna_config.py
  tests/test_core/test_metadata.py
  tests/test_core/test_task_registry.py
  tests/test_data_handler/test_dataset.py
  tests/test_optimization/test_builders.py
  tests/test_optimization/test_search_spaces.py
  tests/test_optimization/test_utils.py
  tests/test_pipeline/test_phases.py
  tests/test_tracking/test_integration.py
  tests/test_trainer/test_loop.py
  tests/test_trainer/test_losses.py
  tests/test_trainer/test_setup.py
Due: black, ruff, mypy, bandit

refactor(tests): kill mutants in data_handler/dataset.py — 79.8%→93.1%
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/data_handler/dataset.py
  tests/test_config/test_from_recipe.py
  tests/test_data_handler/test_dataset.py
Due: black, ruff, mypy, bandit

refactor(tests): rewrite test_dispatcher.py — remove type: ignore, kill dispatcher.py mutants 77.6%→95.5%
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_data_handler/test_dispatcher.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from test_loader.py — add missing return types, kill 4 mutants 92.8%→92.9%
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/data_handler/loader.py
  tests/test_data_handler/test_loader.py
Due: black, ruff, mypy, bandit

refactor(tests): clean pragma style in synthetic.py and synthetic_detection.py — 94.1% / 79.6%
  mutmut-registry.yaml
  orchard/data_handler/diagnostic/synthetic.py
  orchard/data_handler/diagnostic/synthetic_detection.py
  tests/test_data_handler/test_detection_data.py
  tests/test_data_handler/test_synthetic.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from test_dispatcher.py and test_transforms.py — scores 95.5% / 91.6%
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_data_handler/test_dispatcher.py
  tests/test_data_handler/test_transforms.py
Due: black, ruff, mypy, bandit

refactor(tests): remove type: ignore from test_orchestrator.py — 48 annotations
  CHANGELOG.md
  mutmut-registry.yaml
  tests/test_optimization/test_orchestrator.py
Due: black, ruff, mypy, bandit

refactor(objective): clean stray pragmas + strengthen tests — 77.9%→95.4%
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/optimization/objective/objective.py
  tests/test_optimization/test_objective.py
Due: black, ruff, mypy, bandit

fix(deps): constrain gitpython>=3.1.47 — command injection via Git options bypass
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs(mutants): document upstream issue #511 — env scrubbing wipes MUTANT_UNDER_TEST
  CHANGELOG.md
  docs/guide/MUTANTS.md
  mutmut-registry.yaml
Due: none

refactor(phases): consolidate no-mutate pragmas — 97.8%→99.0%
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/pipeline/phases.py
Due: black, ruff, mypy, bandit

refactor(pragmas): block consolidation in reporting + drop dead pragma in loader
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/data_handler/loader.py
  orchard/evaluation/reporting.py
Due: black, ruff, mypy, bandit

test(cli): kill detection_defaults override mutants
  CHANGELOG.md
  mutmut-registry.yaml
  orchard/cli_app.py
  tests/test_cli_app.py
Due: black, ruff, mypy, bandit

test(eval): expose hidden mutants + targeted kills in viz/det_viz/eval_adapter
  mutmut-registry.yaml
  orchard/evaluation/detection_visualization.py
  orchard/evaluation/visualization.py
  orchard/tasks/detection/evaluation_adapter.py
  tests/test_evaluation/test_detection_visualization.py
  tests/test_evaluation/test_visualization.py
  tests/test_tasks/test_detection_adapters.py
Due: black, ruff, mypy, bandit

fix(notebooks): use %pip instead of !pip for kernel-aware install
  notebooks/01_quickstart_bloodmnist_cpu.ipynb
  notebooks/02_galaxy10_optuna_model_search.ipynb
  notebooks/03_edge_deploy_onnx_quantize.ipynb
Due: nbstripout

fix(notebooks): use subprocess.run for git commands to satisfy pylance
  CHANGELOG.md
  notebooks/01_quickstart_bloodmnist_cpu.ipynb
  notebooks/02_galaxy10_optuna_model_search.ipynb
  notebooks/03_edge_deploy_onnx_quantize.ipynb
Due: nbstripout
